footer#footer
    .container
        .row.text-center
            .col-sm-12.align-self-center
                img(src="/img/courage-logo - Copy.png" height="50px" alt="")
                - const year = new Date().getFullYear()
                div Courage & Friends &copy; #{year} by Dylan Radice


