nav(id="main-nav" class="navbar navbar-expand-md navbar-light bg-light")
    .navbar-collapse.collapse.w-100.dual-collapse2.order-1.order-md-0
        ul.navbar-nav.ml-auto.text-center
            li.nav-item
                a.nav-link(href="/species/cat")
                    i.fas.fa-cat.fa-2x.mx-3
                        
                        
                    
                    
    .mx-auto.my-2.order-0.order-md-1.position-relative
        a.mx-auto(href="/")
            img#logo.mx-5(src="/img/courage-logo.png")
         


    .navbar-collapse.collapse.w-100.dual-collapse2.order-2.order-md-2
        ul.navbar-nav.mr-auto.text-center
            li.nav-item
                a.nav-link(href="/species/dog") 
                    i.fas.fa-dog.fa-2x.mx-3

