body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
  background-color: #f8f9fa;
}

a {
  cursor: pointer;
}
/* UTILITY */

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to bottom right,
    rgba(181, 111, 213, 0.69),
    rgba(53, 13, 77, 0.75)
  );
  min-height: 300px;
}

.btn-purple {
  color: #fff;
  background-color: #2e0152;
}

.filter-btn {
  border: #fff 1px solid;
  background-color: #c286f3af;
}

/* HEADER */

#main-nav {
  border-bottom: #2e0152 2px solid;
}

/* OVERVIEW PAGE */

#showcase {
  position: relative;
  background-image: url('/img/showcase.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  min-height: 300px;
}

.showcase-text {
  position: absolute;
  top: 30%;
}

.showcase-text h3 {
  font-size: 3rem;
}

.showcase-text p {
  font-size: 1.2rem;
}

#search-bar {
  background-color: #2e0152;
  margin-bottom: 20px;
}

#search-bar .nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding-left: 20px;
  padding-right: 20px;
}

#search-bar .dropdown-item:hover {
  background-color: #c286f3;
  color: #fff;
}

.match-error {
  min-height: 300px;
  text-align: center;
  position: relative;
  padding-top: 100px;
}

.match-error h4 {
  font-size: 2rem;
}

#search-bar .nav-item {
  margin-left: 10px;
  margin-right: 10px;
}
#search-bar button {
  color: #fff;
}
#search-bar button:hover {
  color: #c286f3;
}
#search-bar button:focus {
  box-shadow: 0.25px 0.25px 2px 2px #fff;
}

#search-bar .home-link {
  border: 1px #fff solid;
}

#search-bar .nav-link:hover {
  color: #c286f3;
}

#search-bar .dropdown-item:active {
  background-color: #c286f3;
}

/* CARDS */

#cards-overview .card-img-top,
#cards-shelter .card-img-top {
  height: 250px;
  width: 250px;
  max-height: 100%;
  max-width: 100%;
}

#cards-overview .card,
#cards-shelter .card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#cards-overview .name,
#cards-shelter .name {
  display: inline-block;
  padding: 3px 10px 3px 10px;
  font-size: 40px;
  color: #fff;
  background-image: linear-gradient(
    to bottom right,
    rgba(181, 111, 213, 0.85),
    rgba(53, 13, 77, 0.781)
  );
}

#cards-overview .shelterLink {
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}

#cards-overview .shelterLink:hover {
  color: #2e0152;
  border: #2e0152 1px;
  border-style: inset;
}

#cards-overview .card-footer {
  background-image: linear-gradient(
    to bottom right,
    rgba(117, 55, 145, 0.747),
    rgba(32, 7, 46, 0.781)
  );
}

#modal-img {
  height: 450px;
  margin: 0;
  padding: 0;
}

.modal .contact-btn {
  background-color: #c286f3;
  color: white;
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.25rem;
}

.modal .contact-btn:hover {
  color: #2e0152;
}

.modal .modal-title {
  font-size: 3rem;
  background-color: #2e0152;
  display: inline-block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.modal .breed {
  text-transform: capitalize;
  display: inline-block;
  background-image: linear-gradient(
    to bottom right,
    rgba(181, 111, 213, 0.85),
    rgba(53, 13, 77, 0.781)
  );
  padding: 10px;
}

.modal .modal-body {
  position: relative;
}

.modal .close {
  position: absolute;
  left: 87.25%;
  color: #2e0152;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}
.modal .modal-pet-details {
  position: absolute;
  top: 59%;
  left: 6%;
  color: #fff;
}
/* SHELTER PAGE */

#shelter-landing {
  padding: 5px;
  color: #fff;
  background-image: linear-gradient(
    to bottom right,
    rgba(117, 55, 145, 0.747),
    rgba(32, 7, 46, 0.781)
  );
}

.map-popup h4 {
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
}

#contact-info {
  color: #2e0152;
}

#contact-info i {
  padding-left: 25px;
  padding-bottom: 15px;
  font-size: 1.5rem;
}

#contact-info h3 {
  padding-left: 10px;
  font-size: 1.5rem;
}

#cards-shelter .display-4 {
  color: #2e0152;
}

.adopted,
.adopted-shelter {
  position: absolute;
  margin: auto;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-image: linear-gradient(
    to bottom right,
    rgba(181, 111, 213, 0.69),
    rgba(53, 13, 77, 0.75)
  );
}

.adopted-text {
  text-decoration: none;
  position: relative;
  font-size: 50px;
  top: 22%;
}

.adopted .adopted-text::after {
  content: 'Adopted!';
}

.adopted:hover {
  text-decoration: none;
}

.adopted:hover .adopted-text::after {
  content: 'See available pets';
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
}

#cards-overview .adopted-text {
  top: 17%;
}

/* ERROR PAGE */

#error {
  min-height: 600px;
  padding: 20px;
}

/* FOOTER */

#footer {
  background-color: #2e0152;
  color: white;
}

@media (max-width: 992px) {
  #cards .shelterLink {
    font-size: 1rem;
  }

  .adopted-text {
    font-size: 2.25rem;
  }
}

@media (max-width: 768px) {
  .showcase-text h3 {
    font-size: 2rem;
  }
  .showcase-text p {
    font-size: 0.8rem;
  }
  #shelter-landing h3 {
    font-size: 2rem !important;
  }

  #logo {
    height: 80px;
    margin-left: 30px;
    margin-right: 30px;
  }
  #main-nav h4 {
    display: none;
  }

  #map {
    max-height: 250px !important;
  }
}

@media (max-width: 576px) {
  #cards {
    margin-left: 40px;
    margin-right: 40px;
  }

  #main-nav .nav-link {
    font-size: 20px;
  }

  .map-popup h4 {
    font-size: 0.8rem;
  }

  #contact-info h3 {
    font-size: 1rem;
  }

  #cards-overview .name {
    font-size: 1.25rem !important;
    background-image: none;
    color: #2e0152;
    margin-left: none;
    padding-left: 0;
  }

  #cards-overview .card-img-top {
    height: 140px;
    width: 140px;
  }

  #cards-overview .card-subtitle {
    font-size: 1rem;
  }

  #cards-overview .card {
    padding: 0;
    margin: 0;
  }

  #cards-overview .display-4 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  #cards-overview .card-footer {
    font-size: 0.6rem;
  }

  #cards-overview .shelterLink {
    font-size: 0.75rem;
  }

  .adopted-text {
    font-size: 1.8rem;
  }

  #search-bar .home-link {
    border: none;
  }

  .pet-description,
  #cards-overview hr {
    display: none;
  }

  #modal-img {
    height: 360px;
  }

  .modal .modal-title {
    font-size: 2rem;
  }

  .modal .breed {
    font-size: 1.25rem;
  }
  .modal .modal-pet-details {
    position: absolute;
    top: 55%;
    left: 8%;
    color: #fff;
  }

  .modal .close {
    left: 81.5%;
  }

  .modal .contact-btn {
    font-size: 0.9rem;
  }
}
